@import url("https://fonts.googleapis.com/css2?family=Kumbh+Sans:wght@400;700&display=swap");

$Darkcyan: hsl(185, 75%, 39%);
$Verydarkdesaturatedblue: hsl(229, 23%, 23%);
$Darkgrayishblue: hsl(227, 10%, 46%);

$Darkgray: hsl(0, 0%, 59%);

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-size: 18px;
  font-family: "Kumbh Sans", sans-serif;
  font-weight: 400;
  background: url(./images/bg-pattern-bottom.svg) bottom -400px right -100px
      no-repeat,
    url(./images/bg-pattern-top.svg) top -400px left -100px no-repeat $Darkcyan;
  //background: url(/images/bg-pattern-top.svg);
  //background-color: $Darkcyan;
}

@media screen and (max-width: 1200px) {
  body {
    background: url(./images/bg-pattern-bottom.svg) bottom -500px right -400px
        no-repeat,
      url(./images/bg-pattern-top.svg) top -500px left -400px no-repeat $Darkcyan;
  }
}

@media screen and (max-width: 700px) {
  body {
    background: url(./images/bg-pattern-bottom.svg) bottom -600px right -700px
        no-repeat,
      url(./images/bg-pattern-top.svg) top -600px left -700px no-repeat $Darkcyan;
  }
}

main {
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.card {
  background-color: rgb(255, 255, 255);
  max-width: 18em;
  position: relative;
  height: 22em;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  border-radius: 1em;
  box-shadow: 0 0 20px 0 rgba(75, 75, 75, 0.335);
}

.bg {
  img {
    width: 100%;
    border-radius: 1em 1em 0 0;
  }
}

.content {
  margin-top: 3em;
}

.name {
  font-size: 1.25rem;
  font-weight: 700;
  text-align: center;
  color: $Verydarkdesaturatedblue;

  span {
    color: $Darkgrayishblue;
    font-weight: 400;
    font-size: 1.25rem;
    padding-left: 0.5em;
  }
}

.city {
  color: $Darkgray;
  text-align: center;
  padding: 0.5em 0;
  font-size: 0.95rem;
}

.data {
  width: 100%;
  display: flex;
  justify-content: space-around;
  padding: 1em 0;
  border-top: 1px solid hsla(0, 0%, 59%, 0.185);
}

.number {
  font-size: 1.25rem;
  font-weight: 700;
  text-align: center;
}

.heading {
  color: $Darkgray;
  text-align: center;
  padding: 0.5em 0;
  font-size: 0.7rem;
  letter-spacing: 0.3em;
}

.picture {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -100%);
  img {
    border-radius: 50%;
    border: 0.3em solid white;
  }
}

.attribution {
  font-size: 11px;
  text-align: center;
  position: absolute;
  bottom: 1em;
  left: 50%;
  transform: translateX(-50%);
}
.attribution a {
  color: hsl(228, 45%, 44%);
}
